<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="JCWebAutomationFramework">
        <classes>
            <class name="org.example.tests.TestJCLoginPOM">
<!--                <methods>-->
<!--                    <include name="testLoginNegative"/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>